<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rivaldy.id.pharmacist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_pharmacist_color"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_pharmacist_color"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApoteker"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>